$browser-prefixes: true !default;
@import "juice";
$font-size:1.3em;
$font-family:sans-serif;
%border-style{
	height:2em;
	border-style:none none solid none;
	border-width:0 0 .2em 0;
	border-color:#6BC564;
	font-size:$font-size;
}
.content{
	@include centerer;
}
a{
	text-decoration:none;
}
h1{
	text-align:center;
	font-family:$font-family;
	color:#3656C5;
}
p{
	text-align:center;
	color:#A31744;
	font-size:$font-size - .1;
}
input[type=text]{
	@extend %border-style;
	text-align:center;
	@include center-block;
	@include bp(large){
		width:30em;
	}
		@include bp(small){
		width:100%
	}

	&:focus{
		outline:none;
	}
}